.product-table-container {
    margin: 100px auto; /* Wyśrodkowanie kontenera i przesunięcie w dół */
    width: 80%;
    max-height: calc(70vh - 100px); /* Maksymalna wysokość kontenera zwiększona o 200px */
    margin: 50px ; /* Wyśrodkowanie kontenera */
    overflow-y: auto; /* Pionowy scroll */
    overflow-x: hidden; /* Wyłączenie poziomego scrolla */
    border: 2px solid #0077cc; /* Niebieska ramka */
    border-radius: 10px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lekki cień */
    background-color: #f9f9f9; /* Jasne tło */
    padding: 20px; /* Wewnętrzny odstęp */
}

/* Nagłówek sekcji */
.product-table-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Styl dla tabeli */
.product-table {
    width: 100%;
    border-collapse: collapse; /* Usunięcie odstępów między komórkami */
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

/* Nagłówki tabeli */
.product-table thead th {
    background-color: #0077cc; /* Niebieskie tło */
    color: #fff; /* Biały tekst */
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #005fa3; /* Ciemniejsza linia oddzielająca */
}

/* Wiersze tabeli */
.product-table tbody tr:nth-child(even) {
    background-color: #f1f1f1; /* Jasnoszare tło dla co drugiego wiersza */
}

.product-table tbody tr:hover {
    background-color: #e0f7ff; /* Jasnoniebieskie tło po najechaniu */
}

/* Komórki tabeli */
.product-table td, .product-table th {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Delikatna linia między wierszami */
}

/* Styl scrollbara */
.product-table-container::-webkit-scrollbar {
    width: 10px;
}

.product-table-container::-webkit-scrollbar-thumb {
    background-color: #0077cc; /* Kolor paska scrolla */
    border-radius: 5px;
}

.product-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #005fa3; /* Ciemniejszy kolor po najechaniu */
}
